body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.x---- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.text {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.text1 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
    border-bottom:solid #d26900 1px;
    padding-bottom:0.2em;
    border-top:solid #d26900 1px;
    padding-top:0.2em;
}
p.text2 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"DK-xiheiti";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
    border-top:solid #d26900 1px;
    padding-top:0.2em;
}
p.text3 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"DK-xiheiti";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
    border-bottom:solid #d26900 1px;
    padding-bottom:0.2em;
}
p.h4 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.717;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:2em;
}
p.h5 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"DK-xiaobiaosong";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.713;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.h6 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.713;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.h1c {
	-epub-ruby-position:over;
	color:#ff8000;
	font-family:"黑体";
	font-size:1.8em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
    border-bottom:solid #d26900 1px;
    padding-bottom:0.2em;
}
p.h1 {
	-epub-ruby-position:over;
	font-family:"DK-xiaobiaosong";
	font-size:1.8em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:auto;
	margin-top:0.5em;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
    color:#5b5b5b;
   padding-right:1em;
}
body.zhangjie{
   padding-top:9em;
}
p.h2 {
	-epub-ruby-position:over;
	color:#842b00;
	font-family:"仿宋";
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:1em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-indent:0px;
}
p.h3 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0.5em;
	margin-top:1em;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h4a {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h4a1 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.image {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:2em;
}
p.table-head {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.8;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.table-note {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:0.625em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2.4;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.LM {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.note {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"仿宋";
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.text-FS {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"仿宋";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.write {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"DK-kaiti";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.text-SJ-FS {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"仿宋";
	font-size:0.8em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:2em;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h5a {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0em;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.text-wq {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
span.kaiti {
	font-family:"楷体";
	font-style:normal;
	font-weight:normal;
}
span.heiti {
	font-family:"DK-XIHEITI";
	font-style:normal;
	font-weight:bold;
}
span.times {
	font-family:Times, serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-1 {
	break-after:column;
	text-align:center;
	text-indent:0px;
}
p.para-style-override-2 {
	break-after:column;
}
p.para-style-override-3 {
	text-indent:24px;
}
p.para-style-override-4 {
	text-indent:0px;
}
p.para-style-override-5 {
	text-align:center;
	text-indent:24px;
}
p.para-style-override-6 {
	text-indent:0px;
}
p.para-style-override-7 {
	text-align:center;
	text-indent:0px;
}
p.para-style-override-8 {
	text-indent:18px;
}
p.para-style-override-9 {
	text-align:center;
	text-indent:16px;
}
p.para-style-override-10 {
	font-size:0.667em;
	text-indent:16px;
}
p.para-style-override-11 {
	text-align:center;
}
p.para-style-override-12 {
	text-align:right;
}
span.char-style-override-1 {
	font-family:"FZWeiBei-S03";
	font-size:1.167em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-family:"NEU-BZ-S92";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	
}
span.char-style-override-4 {
	vertical-align:super;
   font-size:0.8em;
}
span.char-style-override-5 {
	font-family:"楷体";
}
span.char-style-override-6 {
	font-family:SimSun;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	font-family:"NEU-HZ-S92";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-family:"NEU-BZ-S92";
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
   font-size:0.8em;
}
span.char-style-override-9 {
	font-family:"NEU-BZ";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-10 {
	color:#000000;
}
span.char-style-override-11 {
	color:#000000;
	font-family:"NEU-BZ-S92";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	color:#000000;
	font-family:"NEU-BZ";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-13 {
	font-family:SimHei;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-14 {
	font-family:"楷体", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-15 {
	--adobe-text-emphasis-position:below right;
	-epub-text-emphasis-style:circle;
	text-emphasis-position:below right;
	text-emphasis-style:circle;
}
span.char-style-override-16 {
	font-family:"NEU-BZ-S92";
	font-size:0.583em;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-17 {
	font-family:"FZFangSong-Z02";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-18 {
	font-size:0.583em;
	vertical-align:super;
}
span.char-style-override-19 {
	font-family:"NEU-BZ-S92", serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-20 {
	font-family:"宋体", serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-21 {
	font-family:"宋体", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-22 {
	font-family:"FZHei-B01";
	font-size:1.167em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-23 {
	font-family:Times;
}
span.char-style-override-24 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-25 {
	font-family:"NEU-BZ-S92";
	font-size:0.667em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-26 {
	font-size:0.667em;
}
span.char-style-override-27 {
	font-family:"宋体", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-28 {
	font-family:"楷体";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-29 {
	font-family:"NEU-BZ-S92", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-30 {
	font-family:"FZFangSong-Z02", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-31 {
	font-family:"圆体";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-32 {
	font-size:0.583em;
	vertical-align:sub;
}
span.char-style-override-33 {
	font-family:"宋体";
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-34 {
	font-family:"FZHei-B01";
	font-size:0.667em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-35 {
	font-family:"宋体", serif;
	font-style:normal;
	font-weight:300;
	vertical-align:super;
}
span.char-style-override-36 {
	font-family:"宋体";
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-37 {
	font-family:"宋体";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-38 {
	font-size:8px;
}
img.frame-1 {
	height:13px;
	width:112px;
}
img.frame-2 {
	height:2em;
	width:2em;
}
img.frame-3 {
	height:2em;
	width:1.5em;
}
img.frame-4 {
	height:438px;
	width:659px;
}
div.frame-5 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-6 {
	height:114px;
	width:650px;
}
img.frame-7 {
	height:229px;
	width:638px;
}
img.frame-8 {
	height:59px;
	width:654px;
}
img.frame-9 {
	height:161px;
	width:654px;
}
img.frame-10 {
	height:232px;
	width:414px;
}
img.frame-11 {
	height:493px;
	width:356px;
}
img.frame-12 {
	height:432px;
	width:331px;
}
img.frame-13 {
	height:515px;
	width:371px;
}
img.frame-14 {
	height:518px;
	width:453px;
}
img.frame-15 {
	height:470px;
	width:432px;
}
img.frame-16 {
	height:449px;
	width:348px;
}
img.frame-17 {
	height:514px;
	width:434px;
}
img.frame-18 {
	height:499px;
	width:399px;
}
img.frame-19 {
	height:495px;
	width:648px;
}
img.frame-20 {
	height:637px;
	width:661px;
}
img.frame-21 {
	height:288px;
	width:656px;
}
img.frame-22 {
	height:297px;
	width:658px;
}
img.frame-23 {
	height:295px;
	width:658px;
}
img.frame-24 {
	height:486px;
	width:660px;
}
img.frame-25 {
	height:457px;
	width:660px;
}
img.frame-26 {
	height:752px;
	width:589px;
}
img.frame-27 {
	height:92px;
	width:663px;
}
img.frame-28 {
	height:66px;
	width:654px;
}
img.frame-29 {
	height:65px;
	width:311px;
}
img.frame-30 {
	height:397px;
	width:654px;
}
img.frame-31 {
	height:317px;
	width:645px;
}
img.frame-32 {
	height:56px;
	width:57px;
}
img.frame-33 {
	height:60px;
	width:346px;
}
img.frame-34 {
	height:109px;
	width:161px;
}
img.frame-35 {
	height:134px;
	width:570px;
}
img.frame-36 {
	height:202px;
	width:219px;
}
img.frame-37 {
	height:144px;
	width:645px;
}
img.frame-38 {
	height:244px;
	width:658px;
}
img.frame-39 {
	height:437px;
	width:654px;
}
img.frame-40 {
	height:21px;
	width:17px;
}
img.frame-41 {
	height:180px;
	width:363px;
}
img.frame-42 {
	height:188px;
	width:663px;
}
img.frame-43 {
	height:710px;
	width:657px;
}
img.frame-44 {
	height:243px;
	width:663px;
}
img.frame-45 {
	height:225px;
	width:654px;
}
img.frame-46 {
	height:144px;
	width:654px;
}
img.frame-47 {
	height:236px;
	width:654px;
}
img.frame-48 {
	height:229px;
	width:246px;
}
img.frame-49 {
	height:238px;
	width:412px;
}
img.frame-50 {
	height:423px;
	width:649px;
}
img.frame-51 {
	height:316px;
	width:648px;
}
img.frame-52 {
	height:274px;
	width:528px;
}
img.frame-53 {
	height:97px;
	width:316px;
}
img.frame-54 {
	height:320px;
	width:388px;
}
img.frame-55 {
	height:411px;
	width:661px;
}
